/__pycache__
/_install
/_build
/_source
/_package
/test/*.json
!/test/*.example.json
/test/ios/build/
/test/ios/hello/model_coeffs/
/test/android/app/src/main/assets
/test/android/app/src/main/jniLibs

xcuserdata/

# claude
CLAUDE.local.md
/.claude

# sumomo
.env*
!.env.template

# python
.venv
.mypy_cache
__pycache__
.pytest_cache