/_install
/_build
/_source
/_package
/third_party/lyra/bazel-*
/third_party/lyra/third_party/
/test/*.json
/test/ios/build/
/test/ios/hello/model_coeffs/
/test/android/app/src/main/assets
/test/android/app/src/main/jniLibs

xcuserdata/
