name: build-workflow

on:
  push:
    paths-ignore:
      - "doc/**"
      - "**.md"
      - "LICENSE"
      - "NOTICE"
      - ".github/workflows/e2e-test.yml"
      - "e2e-test/**"
    branches:
      - "develop"
      - "feature/**"
    tags:
      - "**"
  schedule:
    # UTC の 01:00 は JST だと 10:00 。
    # 1-5 で 月曜日から金曜日
    - cron: "0 1 * * 1-5"
  workflow_dispatch:

jobs:
  build-ubuntu:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: android_x86_64
            runs-on: ubuntu-22.04
            os: android
    name: Build sora-cpp-sdk for ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.runs-on }}
    env:
      TEST_SIGNALING_URL: ${{ secrets.TEST_SIGNALING_URL }}
      TEST_CHANNEL_ID_PREFIX: ${{ secrets.TEST_CHANNEL_ID_PREFIX }}
      TEST_SECRET_KEY: ${{ secrets.TEST_SECRET_KEY }}
      TEST_MATRIX_NAME: ${{ matrix.platform.name }}
    steps:
      - uses: actions/checkout@v6
      - name: Disk cleanup
        run: |
          set -x
          df -h
          sudo du -h -d1 /usr/local
          sudo du -h -d1 /usr/local/share
          sudo du -h -d1 /usr/local/lib
          sudo du -h -d1 /usr/share
          RMI=`docker images -q -a`
          if [ -n "$RMI" ]; then
            docker rmi $RMI
          fi
          # 4.6G
          sudo rm -rf /usr/local/.ghcup
          # 1.7G
          sudo rm -rf /usr/share/swift
          # 1.4G
          sudo rm -rf /usr/share/dotnet
          df -h
      - name: Install deps for Android
        if: matrix.platform.os == 'android'
        run: |
          sudo apt-get -y install ninja-build
      # JDK を指定しないとデフォルトの JDK 11 で動作するため指定する
      - name: Setup JDK 17
        if: matrix.platform.os == 'android'
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Setup Android SDK
        if: matrix.platform.os == 'android'
        uses: android-actions/setup-android@v3
      - run: python3 run.py build --test --run-e2e-test --package ${{ matrix.platform.name }}
      - name: Get package name
        run: |
          source _package/${{ matrix.platform.name }}/release/sora.env
          echo "name=${PACKAGE_NAME}" >> $GITHUB_OUTPUT
          echo "boost_name=${BOOST_PACKAGE_NAME}" >> $GITHUB_OUTPUT
        id: package_name
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.package_name.outputs.name }}
          path: _package/${{ matrix.platform.name }}/release/${{ steps.package_name.outputs.name }}
      - name: Upload Boost Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.package_name.outputs.boost_name }}
          path: _package/${{ matrix.platform.name }}/release/${{ steps.package_name.outputs.boost_name }}
      - name: Upload Environment
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.platform.name }}.env
          path: _package/${{ matrix.platform.name }}/release/sora.env

  create-release:
    name: Create Release
    if: contains(github.ref, 'tags/202')
    needs:
      - build-ubuntu
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/download
        with:
          platform: android_x86_64
      - name: Env to output
        run: |
          # package_paths.env の内容を空白区切りに変換
          PACKAGE_PATHS=$(tr '\n' ' ' < package_paths.env)
          echo "package_paths=${PACKAGE_PATHS}" >> $GITHUB_OUTPUT
        id: env
      - name: Release (Prerelease)
        if: contains(github.ref, 'canary')
        run: |
          gh release create "${{ github.ref_name }}" \
            --prerelease \
            --title "${{ github.ref_name }}" \
            ${{ steps.env.outputs.package_paths }}
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Release
        if: ${{ !contains(github.ref, 'canary') }}
        run: |
          gh release create "${{ github.ref_name }}" \
            --title "${{ github.ref_name }}" \
            ${{ steps.env.outputs.package_paths }}
        env:
          GH_TOKEN: ${{ github.token }}
  notification:
    name: Slack Notification
    runs-on: ubuntu-24.04
    needs:
      - build-ubuntu
    if: always()
    steps:
      - uses: rtCamp/action-slack-notify@v2
        if: |
          needs.build-ubuntu.result == 'failure'
        env:
          SLACK_CHANNEL: sora-cpp-sdk
          SLACK_COLOR: danger
          SLACK_TITLE: Build failed
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
