name: formatter

on:
  push:
    paths-ignore:
      - "doc/**"
      - "**.md"
      - "LICENSE"
      - "NOTICE"

jobs:
  run-ubuntu:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: ubuntu-24.04_x86_64
            runs-on: ubuntu-24.04
            os: ubuntu
            arch: x86_64
    name: Build sora-cpp-sdk for ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.runs-on }}
    env:
      TEST_SIGNALING_URL: ${{ secrets.TEST_SIGNALING_URL }}
      TEST_CHANNEL_ID_PREFIX: ${{ secrets.TEST_CHANNEL_ID_PREFIX }}
      TEST_SECRET_KEY: ${{ secrets.TEST_SECRET_KEY }}
      TEST_MATRIX_NAME: ${{ matrix.platform.name }}
    steps:
      - uses: actions/checkout@v4
      # IWYU を適用するにはまずビルドする必要がある
      # Ubuntu 24.04 だと libtinfo5 が見つからない問題があるので、その修正
      # ref: https://qiita.com/gengen16k/items/88cf3c18a40a94205fab
      - name: Fix CUDA issues for Ubuntu 24.04
        if: matrix.platform.name == 'ubuntu-24.04_x86_64'
        run: |
          sudo tee /etc/apt/sources.list.d/jammy.list << EOF
          deb http://archive.ubuntu.com/ubuntu/ jammy universe
          EOF

          sudo tee /etc/apt/preferences.d/pin-jammy <<EOF
          Package: *
          Pin: release n=jammy
          Pin-Priority: -10

          Package: libtinfo5
          Pin: release n=jammy
          Pin-Priority: 990
          EOF
      - name: Install deps for ${{ matrix.platform.name }}
        if: matrix.platform.os == 'ubuntu' && matrix.platform.arch == 'x86_64'
        run: |
          source VERSION
          sudo apt-get update
          sudo apt-get install -y software-properties-common

          # X11
          sudo apt-get install libx11-dev libxext-dev

          # OpenGL
          sudo apt-get install -y libgl-dev

          # CUDA
          # libssl1.1 が必要
          wget http://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          sudo dpkg -i libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/cuda-keyring_1.0-1_all.deb
          sudo dpkg -i cuda-keyring_*all.deb
          sudo apt-get update
          DEBIAN_FRONTEND=noninteractive sudo apt-get -y install cuda=$CUDA_VERSION

          # clang-20
          wget https://apt.llvm.org/llvm.sh
          chmod a+x llvm.sh
          sudo ./llvm.sh 20
      - run: python3 run.py build --test ${{ matrix.platform.name }}
      - name: Build Examples
        run: |
          cd examples
          mkdir examples_${{ matrix.platform.name }}
          for app in sdl_sample sumomo messaging_recvonly_sample; do
            python3 $app/${{ matrix.platform.name }}/run.py --local-sora-cpp-sdk-dir ..
          done
        if: matrix.platform.os == 'ubuntu' && matrix.platform.name != 'ubuntu-22.04_armv8'
      - name: Run IWYU
        run: python3 run.py iwyu ubuntu-24.04_x86_64 || git diff --exit-code
      - name: Run clang format
        run: python3 run.py format || git diff --exit-code
      - name: Check diff
        run: git diff --exit-code

  notification:
    name: Slack Notification
    runs-on: ubuntu-24.04
    needs:
      - run-ubuntu
    if: always()
    steps:
      - uses: rtCamp/action-slack-notify@v2
        if: |
          needs.run-ubuntu.result == 'failure'
        env:
          SLACK_CHANNEL: sora-cpp-sdk
          SLACK_COLOR: danger
          SLACK_TITLE: Build failed
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
